html,body{
	margin: 0;
	padding: 0;
	width: 1024px;
	margin: 0 auto;
	background: rgb(193,193,193);
 	font: normal 13px Roboto,arial,sans-serif;
 	font-family: arial,sans-serif;
}
#addFavBox input{
	border: 1px solid black;
}

#welcome{
	position: fixed;
	top: 70px;
	width: 500px;
	height: 450px;
	background: rgb(242,242,242);
	z-index: 1000;
	width: 1024px;
	color: white;
	text-align: center;
}
#welcome h2{
	background: white;
	margin: 0;
	color: rgb(40,40,40);
	height: 60px;
	line-height: 60px;
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
	font-weight: 100;
}
#welcome ul{
	list-style: none;
	padding: 0;
	height: 300px;
}
#welcome li{
	width: 215px;
	float: left;
	height: 86px;
	border: 1px solid white;
	margin: 5px;
	line-height: 50px;
	cursor: pointer;
	background: white;
	color: black;
}
#welcome div{
	cursor: pointer;
	height: 60px;
	background: white;
	color: black;
	font-size: 20px;
	line-height: 60px;
}
#welcome span{
	display: none;
	position: absolute;
	right: 355px;
	bottom: 4px;
	color: #dd4b39;
	font-size: 13px;
}
#welcome p{
	color: black;
	background: white;
	line-height: 85px;
	height: 85px;
	margin: 0;
}
#welcome img{
	height: 85px;
	width: 85px;
	float: left;
}
#common{
	position: fixed;
	height: 400px;
	width: inherit;
	z-index: 999;
	background: rgb(193,193,193);
}
#recommendSite{
	position: absolute;
	display: none;
	top: 400px;
	width: inherit;
	height: auto;
	background: rgba(224,224,224,0.6);
}
#favorite{
	width: inherit;
	padding: 150px 0px 0px 0px;
	list-style: none;
	margin: 0;
	height: 100px;
	margin-left: -8px;
	position: relative;
}

#favorite li,#addFav{
	display: none;
	position: relative;
	float: left;
	height: 20px;
	background: white;
	margin: 40px 8px 8px 8px;
	color: black;
	padding: 10px;
	line-height: 20px;
	cursor: pointer;
	border-radius: 6px;
	min-width: 60px;
	width: auto;
	text-align: center;
}
#favorite a{
	color: #737373;
	text-decoration: none;
	height: 20px;
	display: block;
	float: left;
	/*top: 0px;
	left: 0px;*/
	margin-left: 5px;
}
#favorite img{
	height: 20px;
	float: left;
	display: block;
	top: 10px;
	left: 10px;
	background: rgb(193,193,193);
}
#favorite p{
	float: left;
	margin: 0;
	width: 20px;
	height: 20px;
	display: none;
	background: url(img/common/arrow-right.png);
}
#favorite span{
	color: red;
	display: none;
	float: left;
}
#favorite b{
	display: none;
	background: url(img/common/close.png) no-repeat;
	width: 20px;
	margin: 0;
	height: 20px;
	background-size: 20px;
	float: right;
}

/*#addFavBox{
	z-index: 1;
	display: none;
	position: fixed;
	width: inherit;
	top: 150px;
	height: 150px;
	background: rgb(242,242,242);
	/* padding-top: 100px; */
/*	border-top: 60px solid white;
	border-bottom: 60px solid white;*/
}*/
/*
#addFavBox div{
	cursor: pointer;
	width: 57px;
	float: left;
	margin: 60px 0px 0px 6px;
	height: 35px;
	line-height: 35px;
	background: #357ae8;
	color: white;
	padding-left: 4px;
	border-radius: 3px;
}
#addFavBox img{
	position: absolute;
	top: -40px;
	right: 20px;
	cursor: pointer;
}*/
.siteurl{
	margin-left: 12px;
	width: 930px;
	outline: none;
	border: none;
	height: 30px;
	float: left;
	margin-top: 60px;
}
#search{
	width: inherit;
	height: 35px;
	background: white;
}
#search input{
	width: 80%;
	font: 16px arial,sans-serif;
	outline: none;
	border: none;
	height: 35px;
	float: left;

	padding: 0 0 0 10px;
	line-height: 30px;
}
#searchBar{
	display: none;
	min-width: 8%;
	width: auto;
	float: right;
	height: 29px;
	background: aqua;
	cursor: pointer;
	margin: 2px;
	text-align: center;
	line-height: 31px;
	border: 1px solid rgb(202, 181, 181);
	border-radius: 3px;
}
#roleBox{
	height: 40px;
	margin: 0;
	display: none;
	padding: 0;
	list-style: none;
	background: rgba(224,224,224,0.6);
	border-top: 3px solid #999;
	margin-top: 70px;	
}

#roleBox h3 , #roleBox li{
	float: left;
	width: auto;
	height: 38px;
	line-height: 40px;
	text-align: center;
	border: 2px;
	margin: 0 30px;
	cursor: pointer;
	color: #737373;
	font-size: 16px;
}
#roleBox h3{
	border-bottom: 2px solid #427fed;
}
#roleBox h3:hover,#roleBox li:hover{
	color: #262626;
}
#class{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100px;
	height: 200px;
	position: fixed;
	display: none;
}
#class li{
	height: 30px;
	margin-top: 10px;
	cursor: pointer;
	background: rgba(0,0,0,0.6);
	color: #eee;
	text-align: center;
	line-height: 30px;
}
#NewSites{
	width: initial;
	padding-left: 0px;
	height: auto;
}
#NewSites li{
	float: left;
	width: 492px;
	height: 60px;
	background: white;
	border-radius: 3px;
	margin: 10px;
	list-style: none;
	cursor: pointer;
	position: relative;
}
#NewSites img{
	height: 60px;
	float: left;
	width: 60px;
}
#NewSites a{
	float: left;
	text-decoration: none;
	font-size: 20px;
	width: 382px;
	height: 23px;
	margin: 10px 0px 10px 10px;
	color: black;
}
#NewSites p{
	float: left;
	width: 382px;
	margin: 0px 0px 10px 10px;
}
#beCommon{
	position: absolute;
	top: 8px;
	right: 10px;
	width: 115px;
	height: 20px;
}
#beCommon img{
	width: 20px;
	height: 20px;
	float: right;
}
#beCommon span{
	display: none;
	float: left;
	margin-right: 3px;
	line-height: 22px;
}
#switch{
	position: absolute;
	right: 0;
	bottom: 34px;
	cursor: pointer;
}
#course{
	display: none;
	position: absolute;
	z-index: 10000;
	height: 20px;
	width: 190px;
	left: 25px;
	border-radius: 3px 3px 3px 0px;
	background: rgb(38,38,38);
	bottom: 226px;
}
.course_arrow{
	margin-top: 20px;
	float: left;
	width: 10px;
}
#course b{
	line-height: 20px;
	float: left;
	display: block;
	width: 160px;
	color: white;
}
.course_close{
	cursor: pointer;
	float: left;
	height: 20px;
	background: rgb(193,193,193);
}

